@using DocumentFormat.OpenXml.Packaging
@using System.Text.RegularExpressions
@inject AppState State
@inject PowerPointTemplateService TemplateService
@inject IJSRuntime JS

<h2>Review and Create</h2>

<p>You have provided X names to generate badges for. That will be @pageCount pages.</p>

<button @onclick="GeneratorAndDownload">Generate and Download</button>

@code {
  int pageCount => (State.People.Count() / 8);
  async Task GeneratorAndDownload()
  {
    var newFileBytes = TemplateService.GenerateFromTemplate(State.PowerPointFile, State.People);

    using var streamRef = new DotNetStreamReference(stream: new MemoryStream(newFileBytes));

    await JS.InvokeVoidAsync("downloadFileFromStream", "Generated Name Badges.pptx", streamRef);
  }

}
